<body>
    <app-top-bar></app-top-bar>

    <div>
        <h2>Welcome back {{currentUser | json}}</h2>
    </div>

    <div>
        <div class="container">
            <mat-toolbar color = "primary">
                <h2>Guess You Like       <mat-icon aria-label="Sign" class="gap">favorite</mat-icon></h2>
                <span class="example-spacer"></span>
                <button mat-icon-button class="example-icon" type="submit" (click)="refreshMovieSimMovieList()">
                    <mat-icon>autorenew</mat-icon>
                </button>
            </mat-toolbar>
            <hr>
            <div class="card" *ngFor="let movie of recomMovieListbyMovieSim" (click)="openMovieDialog(movie)">
                <img src={{movie.poster_link}} alt="no image found">
                <div class="movie-info">
                    <h4 class="movie_title">{{movie.title}}</h4>
                    <br>
                    <span class="p2">System Recommend Rate</span>
                    <star-rating style="float: left;" value={{movie.avg_rate}} totalstars="5" checkedcolor="red" uncheckedcolor="grey" size="24px" readonly="true"></star-rating>
                </div>
            </div>
        </div>
    </div>
    <br style="clear:both" />
    <br>
    <br>

    <div class="container">
        <mat-toolbar color = "primary">
            <h2>Other Similar User Like     <mat-icon aria-label="Sign" class="gap">face</mat-icon></h2>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" type="submit" (click)="refreshUserSimMovieList()">
                <mat-icon>autorenew</mat-icon>
            </button>
            
        </mat-toolbar>
        <hr>
        <div class="card" *ngFor="let movie of recomMovieListbyUserSim" (click)="openMovieDialog(movie)">
            <img src={{movie.poster_link}} alt="no image found">
            <div class="movie-info">
                <h4 class="movie_title">{{movie.title}}</h4>
                <br>
                <span class="p2">System Recommend Rate</span>
                <!-- <star-rating style="float: left;" value={{movie.AvgRate}} totalstars="5" checkedcolor="red" uncheckedcolor="grey" size="24px" readonly="false" (rate)="onRate($event, movie.title)"></star-rating> -->
                <star-rating style="float: left;" value={{movie.avg_rate}} totalstars="5" checkedcolor="red" uncheckedcolor="grey" size="24px" readonly="true"></star-rating>
            </div>
        </div>
    </div>

    
    

</body>
