<mat-toolbar color = "primary">
    <span>PandoRec-Movie</span>

    <div class="spacer"></div>
    <div>
        <a mat-raised-button color="accent" href="https://www.google.com/" target="_blank" class="gap">Find Movie</a>
        <button mat-raised-button color="accent" class="gap" routerLink="/home">Home<mat-icon aria-label="Sign" class="gap">home</mat-icon></button>
        <button mat-raised-button color="accent" class="gap" routerLink="/login">Sign<mat-icon aria-label="Sign" class="gap">account_circle</mat-icon></button>
    </div>

</mat-toolbar>


